[user]
	name = ymzkryo
	email = ymzk.yamachan@gmail.com
[color]
	ui = true
	diff = auto
	status = auto
	branch = auto
[core]
	quotepath = false
    editor = vim
[credential]
    helper = cache
[includeIf "gitdir:~/PROJECTS/mirailabs/"]
    path = ~/PROJECTS/mirailabs/.gitconfig_mirailabs
