# yamachaaan's dotfile
# .gitignore
# Temporary Files
#---------------------------
# vim
# Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
# Session
Session.vim

# Persistent undo
[._]*.un~

#---------------------------
*~
*.orig
*.bak
chach.*
/.tmux/resurrenct/
/.vim/dein/.chach/
/.vim/dein/chache_vim/
/.vim/dein/repos/

# OS dependent files
#---------------------------
.DS_Store
Thumbs.db
.AppleDouble
.LSOverride
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# newsboat
/.newsboat/cache.db
/.newsboat/cache.db.lock
/.newsboat/history.cmdline
/.newsboat/history.search

# config files
/config
