[submodule "private"]
	path = private
	url = git@github.com:ymzkryo/private-dotfiles.git
[submodule ".tmux/plugins/tmux-battery"]
	path = .tmux/plugins/tmux-battery
	url = https://github.com/tmux-plugins/tmux-battery
[submodule ".tmux/plugins/tmux-continuum"]
	path = .tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum
[submodule ".tmux/plugins/tmux-online-status"]
	path = .tmux/plugins/tmux-online-status
	url = https://github.com/tmux-plugins/tmux-online-status
[submodule ".tmux/plugins/tmux-resurrect"]
	path = .tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule ".tmux/plugins/tmux-sensible"]
	path = .tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
